cffi==1.9.1
cryptography==1.6
idna==2.1
inflection==0.3.1
more-itertools==2.4.1
ndg-httpsclient==0.4.2
numpy==1.11.2
pandas==0.19.1
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.7
Quandl==3.0.1
requests==2.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sklearn==0.0
